.hot-product{
    margin-bottom: 50px;
    &__title{
        position: relative;
        font-size: 3.6rem;
        font-weight: 700;
        color: $text-black;
        margin-bottom: 38px;
        &::before{
            content: '';
            width: 6px;
            height: 6px;
            background-color: orange;
            position: absolute;
            border-radius: 50%;
            bottom: -20px;
            left: 0;
        }
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: orange;
            position: absolute;
            left: 0;
            bottom: -17px;
        }
    }
    &__items{
        display: flex;
        gap: 16px;
    }
    &__item{
        position: relative;
        text-align: center;
        color: $text-black;
        border: 1px solid $gray;
        transition: 0.2s;
        &:hover{
            border-color: $orange;
            img{
                transform: scale(1.1);
            }
        }
        img{
            width: 100%;
            object-fit: cover;
            margin-bottom: 15px;
            transition: 0.2s;
        }
        span{
            position: absolute;
            top: 23px;
            right: 16px;
            padding: 2px 16px;
            background-color: orange;
            border-radius: 10px;
            color: white;
            font-size: 1.4rem;
            font-weight: 400;
        }

        h4,p{
            font-size: 1.6rem;
            margin-bottom: 15px;
        }
        h4{
            font-weight: 400;
            color: $text-gray-dark;
        }
        p{
            font-weight: 600;
            color: $red;
        }
    }

    &__button{
        display: flex;
        align-items: center;
        gap: 14px;
        position: absolute;
        top: 22px;
        right: 0;
        .swiper-button-next, .swiper-button-prev{
            width: 30px;
            height: 30px;
            margin-top: unset;
            border-radius: 50%;
            border: 1px solid rgba($color: #555, $alpha: 0.9);
            color: rgba($color: #555, $alpha: 0.9);
            position: unset;
            top: 0;
            right: 0;
            left: unset;
            &::after{
                font-size: 8px;
            }
        }
    }

    .s4{
        width: 100%;
        .swiper-slide{
            a{
                &:first-child{
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media screen and (max-width:991px) {
    .hot-product{
        flex-direction: column;
    }
}