.sub-banner{
    background-color: $gray;
    &__wrapper{
        height: 80px;
        @include flex-row-vertical(space-between);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__item{
        @include flex-row-horizontal;
        img{
            @include size(50px,50px);
            margin-right: 20px;
        }
        h5{
            font-size: 1.6rem;
            font-weight: 700;
            span{
                display: block;
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width:991px) {
    .sub-banner{
        &__wrapper{
            height: fit-content;
        }
        &__item{
            display: block;
            text-align: center;
            img{
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .sub-banner{
        &__wrapper{
            flex-direction: column;
            gap: 20px;
        }
        &__item{
            a{
                font-size: 1.8rem;
            }
        }
    }
}