$bg-black: #313131;
$bg-black-light: #414141;
$bg-white: #fff;
$text-black: #313131;
$text-white: #fff;
$text-gray: #cacaca;
$text-gray-light: #979797;
$text-gray-dark: #737373;

$orange: #f58220;
$gray: #f9f9f9;
$gray-dark: #737373;
$red: #ff3c3c;